<div class="row" style="color: #ffffffd4; font-family: 'Lato', sans-serif;">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAr">
        </div>
        <div class="redes">
                <a href="https://ar.linkedin.com/in/leonardo-alpuin" target="_blank" rel="noopener noreferrer"><img src="../../../assets/linkedin.png" alt="linkedin"></a>
                <a href="https://twitter.com/Boreal84" target="_blank" rel="noopener noreferrer"><img src="../../../assets/twitter.png" alt="twitter"></a>
                <a href="https://www.instagram.com/leoalpuin/" target="_blank" rel="noopener noreferrer"><img src="../../../assets/instagram.png" alt="instagram"></a>
                <a href="https://github.com/alpuinle" target="_blank" rel="noopener noreferrer"><img src="../../../assets/github.png" alt="github"></a>
                <button type="button" class="btn btn-outline-light"(click)="login()" *ngIf="!isLogged">INGRESO</button>
                <button type="button" class="btn btn-outline-light"(click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
    </div>
</div>

