.row{
    padding: 20px;
}
div{
    background-color: #a1b5cb;
    text-align: center;
}
/*estilo de foto perfil*/
@media (min-width: 576px) {
    #fotodeperfil {
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 3%;
        top: 500px;
    }
}
@media (max-width: 575px) {
    #fotodeperfil {
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 35%;
        top: 630px;
    }
}
#nombre{
    font-weight: bold;
    margin-top: 40%;
    margin-left: 10px;
}